<div class="header">
  <div><img class="rotar" width="50" src="/assets/images/pokeball.png" alt="pokeball"></div>
  <div><img class="rotar" width="50" src="/assets/images/masterball.png"></div>
  <div><img src="/assets/images/TITLE.png"></div>
  <div><img class="backpag" width="50" src="/assets/images/mochila.png" alt="mochila"></div>
  <div><img width="130" src="/assets/images/minimapaPokemon.png"></div>

  <div>
    <input type="search" placeholder="Vaporeon" [(ngModel)] = "inputText" (keyup)="sendInputText()"/>
  </div>
</div>