<div class="header">
  <div><img class="rotar" width="50" src="/assets/images/footer/JorgeEntrenador.png" alt="Jorge Entrenador"></div>
  <!--<div><img class="rotar" width="50" src="/assets/images/masterball.png"></div>-->
  <div><img src="/assets/images/TITLE.png" [routerLink]="'/pokemon-list/'"></div>
  <div><img class="rotar" width="50" src="/assets/images/footer/angelEntrenador.png" alt="Ángel Entrenador"></div>
  <!--<div><img width="130" src="/assets/images/minimapaPokemon.png"></div>-->
  
</div>