.header {
  background-image: linear-gradient(to right, rgb(254, 254, 135)40%, rgb(255, 255, 42)80%);
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
@font-face {
  font-family: 'Pokemon';
  src: url('PokemonSolid.ttf') format('truetype');
  font-style: normal;
}

h1{
  text-align: center;
  letter-spacing: 8px;
  color: rgb(255,215,0); 
  -webkit-text-stroke: 2px rgb(0,0,255);
  font-size: 40px;
  font-weight: bold;
}

.rotar:hover {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}





