.header {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
@font-face {
  font-family: 'Pokemon';
  src: url('PokemonSolid.ttf') format('truetype');
  font-style: normal;
}

h1{
  text-align: center;
  letter-spacing: 8px;
  color: rgb(255,215,0); 
  -webkit-text-stroke: 2px rgb(0,0,255);
  font-size: 40px;
  font-weight: bold;
}

.rotar:hover {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
.backpag:hover{
  transform: rotate(-10deg);
}

/* Estilos de Buscador */

.searcher  {
  text-align: center;
}

/* Estilos botones types */

.types {
  display: inline;
  padding: 2%;
}

button[n="First Generation"] {
  background-color: rgb(116, 116, 231);
  border: solid 3px brown;
  border-radius: 15px;
}

button:hover[n="First Generation"]{
  background-color: aqua;
}