<div>
  <button onclick="getTypeFiltered(['fire'])">Fire</button>
  <button onclick="getTypeFiltered(['grass'])">grass</button>
  <button onclick="getTypeFiltered(['water'])">water</button>
  <button onclick="getTypeFiltered(['poison'])">poison</button>
  <button onclick="getTypeFiltered(['flying'])">flying</button>
  <button onclick="getTypeFiltered(['bug'])">bug</button>
  <button onclick="getTypeFiltered(['normal'])">normal</button>
  <button onclick="getTypeFiltered(['electric'])">electric</button>
  <button onclick="getTypeFiltered(['ground'])">ground</button>
  <button onclick="getTypeFiltered(['fairy'])">fairy</button>
  <button onclick="getTypeFiltered(['fighting'])">fighting</button>
</div>
<div class="pokemon-list-container">
  <div class="row" *ngFor="let item of getDataFiltered()">
    <div class="pokemon-container">
      <br>
      <p >Nº {{item.id.toString().padStart(3, '0')}}</p>
      <img class="sizeImage" [src]="item.image" alt="">
      <p>{{item.name | titlecase}}</p>
      <div *ngIf="item.types.length > 0">
        <button *ngFor="let type of item.types" [attr.type]="type">{{ type }}</button>
      </div>
    </div>
  </div>
</div>
