<div [ngClass]="{'modo-claro': !modoOscuro, 'modo-oscuro': modoOscuro}">
  <button class="oscuro" (click)="cambiarModo()">
    <img class="sizeBombilla" src="assets/images/bombilla.png">
  </button>



<!--Buscador por Nombre-->
<div class="search-container">
  <input class="search-input" type="search" placeholder="Vaporeon" [(ngModel)] = "filterNomre" (keyup)="filterNomre"/>
</div>

<!--Filtros por Generacion-->
<div class="filter">
  <button (click)="pulsado('0')" class="generationButton">Full List</button>
  <button (click)="pulsado('1')" class="generationButton">First Generation</button>
  <button (click)="pulsado('2')" class="generationButton">Second Generation</button>
  <button (click)="pulsado('3')" class="generationButton">Third Generation</button>
  <button (click)="pulsado('4')" class="generationButton">Four Generation</button>
</div>

<!--Filtros por Types-->
<div class="filter" >
  <button class="typesButton" *ngFor="let item of getTypes()" [attr.type]="item" (click)="getTypeFiltered(item)" >{{item}}</button>
  <button class="typesButton" (click)="resetFilters()">Reset</button>
</div>

<div class="pokemon-list-container">
  <div class="row" *ngFor="let item of getDataFiltered()">
    <div class="pokemon-container" [routerLink]="'/pokemon/'+ item.id">
      <br>
      <p >Nº {{item.id.toString().padStart(3, '0')}}</p>
      <img class="sizeImage" [src]="item.image" alt="">
      <p>{{item.name | titlecase}}</p>
      <div *ngIf="item.types.length > 0">
        <button *ngFor="let type of item.types" [attr.type]="type">{{ type }}</button>
      </div>
    </div>
  </div>
</div>
</div>