<h2>Moves Table by Level-up</h2>
<div class="movesTable">
  

<table class="table">
  <tr>
    <th>Name</th>
    <th>Acurrency / Power / Category / Type</th>
    <th>Level</th>
  </tr>
  <tr>
      <td>
        <div *ngFor="let item of moves.move; let i = index">
          <div *ngFor="let detail of item.version_group_details">
            <div class="details" *ngIf="detail.move_learn_method.name === 'level-up' && detail.version_group.name === 'diamond-pearl'">
              {{item.move.name}}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div *ngFor="let item of moves.move; let i = index">
          <div *ngFor="let detail of item.version_group_details">
            <div  *ngIf="detail.move_learn_method.name === 'level-up' && detail.version_group.name === 'diamond-pearl'">
              <app-move-details [url]="moves.url[i]" ></app-move-details>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div *ngFor="let item of moves.move">
          <div *ngFor="let detail of item.version_group_details">
            <div class="detailsLevel" *ngIf="detail.move_learn_method.name === 'level-up' && detail.version_group.name === 'diamond-pearl'">
              {{detail.level_learned_at}}
            </div>
          </div>
        </div>
      </td>
  </tr>
</table>




<h2>Moves Table by MT/MO</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Acurrency / Power / Category / Type</th>
  </tr>
  <tr>
      <td>
        <div *ngFor="let item of moves.move">
          <div *ngFor="let detail of item.version_group_details">
            <div class="detailsMT" *ngIf="detail.move_learn_method.name === 'machine' && detail.version_group.name === 'black-white'">
              {{item.move.name}}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div *ngFor="let item of moves.move; let i = index">
          <div *ngFor="let detail of item.version_group_details">
            <div *ngIf="detail.move_learn_method.name === 'machine' && detail.version_group.name === 'diamond-pearl'">
              <app-move-details [url]="moves.url[i]" ></app-move-details>
            </div>
          </div>
        </div>
      </td>
  </tr>
</table>
<br><br><br>
</div>