<h2>Moves Table by Level-up</h2>
<div class="movesTable">
  

<table class="table">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Accuracy</th>
    <th>Power</th>
    <th>Level</th>
    <th>Type</th>
  </tr>
  <tr>
      <td>
        <div *ngFor="let item of moves.move; let i = index">
          <div *ngFor="let detail of item.version_group_details">
            <div *ngIf="detail.move_learn_method.name === 'level-up' && detail.version_group.name === 'diamond-pearl'">
              {{item.move.name}} {{moves.url[i]}}
            </div>
          </div>
        </div>
      </td>
      <td>
        {{moveDetail.category |json}}
      </td>
      <td>
      </td>
      <td>

      </td>
      <td>
        <div *ngFor="let item of moves.move">
          <div *ngFor="let detail of item.version_group_details">
            <div *ngIf="detail.move_learn_method.name === 'level-up' && detail.version_group.name === 'diamond-pearl'">
              {{detail.level_learned_at}}
            </div>
          </div>
        </div>
      </td>
      <td>

      </td>
  </tr>
</table>

<h2>Moves Table by MT/MO</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Accuracy</th>
    <th>Power</th>
    <th>Type</th>
  </tr>
  <tr>
      <td>
        <div *ngFor="let item of moves.move">
          <div *ngFor="let detail of item.version_group_details">
            <div *ngIf="detail.move_learn_method.name === 'machine' && detail.version_group.name === 'black-white'">
              {{item.move.name}} {{item.move.url}}
            </div>
          </div>
        </div>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
  </tr>
</table>
<br><br><br>
</div>