@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
*{
  font-family: 'Pixelify Sans';
}
table{
  border-radius: 18px;
  margin: auto;
  background-color: rgb(115, 115, 203);
}
td{
  background-color: rgb(164, 185, 232);
  border-radius: 9px;
}
h2{
  text-align: center;
}
.details{
  margin-top: 5%;
  margin-bottom: 5%;
}
.detailsLevel{
  margin-top: 15%;
  margin-bottom: 15%;
}

.detailsMT{
  margin-top: 7%;
  margin-bottom: 7%;
}
