th, td {
  padding: 10px;
}

.pokemon-container {
  margin: 10px;
  text-align: center;
  border-color: (221, 221, 221);
  background-color: rgb(221, 221, 221);
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(101, 101, 101);
}

.pokemon-list-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}