<h2>Evolution Chain</h2>
<div class="pokemon-list-container" >
  <div class="pokemon-container" (click)="navigateToPokemon(evolutionChain.name1)">
    <p>{{evolutionChain.name1 | titlecase}}</p>
    <img src="" alt="">
  </div>
  
  <div class="pokemon-container" *ngFor="let item of evolutionChain.chainEvolution"  (click)="navigateToPokemon(item.species.name)">
    
    <div  *ngFor="let item2 of item.evolution_details; let i = index">
      <p *ngIf="item2.gender">Gender: {{item2.gender}}</p>
      <p *ngIf="item2.held_item">Held Item:{{item2.held_item.name}}</p>
      <p *ngIf="item2.item">Item: {{item2.item.name}}</p>
      <p *ngIf="item2.known_move">known Move:{{item2.known_move}}</p>
      <p *ngIf="item2.known_move_type && i === 0">known Move Type: {{item2.known_move_type.name}}</p>
      <p *ngIf="item2.location && i === 0">Location: {{item2.location.name}}</p>
      <p *ngIf="item2.min_affection">Affection: {{item2.min_affection}}</p>
      <p *ngIf="item2.min_beauty">Beauty: {{item2.min_beauty}}</p>
      <p *ngIf="item2.min_happiness">Happiness: {{item2.min_happiness}}</p>
      <p *ngIf="item2.min_level">Minimum Level: {{item2.min_level}} </p>
      <p *ngIf="item2.needs_overworld_rain">{{item2.needs_overworld_rain}}</p>
      <p *ngIf="item2.party_species">{{item2.party_species}}</p>
      <p *ngIf="item2.party_type">{{item2.party_type}}</p>
      <p *ngIf="item2.relative_physical_stats">{{item2.relative_physical_stats}}</p>
      <p *ngIf="item2.time_of_day">{{item2.time_of_day}}</p>
      <p *ngIf="item2.trade_species">{{item2.trade_species}}</p>
      <p *ngIf="item2.trigger && i === 0">Trigger: {{item2.trigger.name}} </p>
      <p *ngIf="item2.turn_upside_down">{{item2.turn_upside_down}}</p>
    </div>
    <div>⬇️</div>
    <div>
      <p>{{item.species.name | titlecase}}</p>
      </div>
  </div>
  
  <div class="pokemon-container" *ngFor="let item of evolutionChain.chainEvolution">
      <div *ngIf="item.evolves_to.length > 0">
        <div *ngFor="let evo3 of item.evolves_to" (click)="navigateToPokemon(evo3.species.name)" >
          <p>{{item.species.name}}</p>
          <div>⬇️</div>
          <div *ngFor="let item3 of evo3.evolution_details">
            <p *ngIf="item3.gender">{{item3.gender}}</p>
            <p *ngIf="item3.held_item">{{item3.held_item}}</p>
            <p *ngIf="item3.item">{{item3.item.name}}</p>
            <p *ngIf="item3.known_move">{{item3.known_move}}</p>
            <p *ngIf="item3.known_move_type">{{item3.known_move_type.name}}</p>
            <p *ngIf="item3.location">{{item3.location.name}}</p>
            <p *ngIf="item3.min_affection">{{item3.min_affection}}</p>
            <p *ngIf="item3.min_beauty">{{item3.min_beauty}}</p>
            <p *ngIf="item3.min_happiness">{{item3.min_happiness}}</p>
            <p *ngIf="item3.min_level">Minimum Level: {{item3.min_level}} </p>
            <p *ngIf="item3.needs_overworld_rain">{{item3.needs_overworld_rain}}</p>
            <p *ngIf="item3.party_species">{{item3.party_species}}</p>
            <p *ngIf="item3.party_type">{{item3.party_type}}</p>
            <p *ngIf="item3.relative_physical_stats">{{item3.relative_physical_stats}}</p>
            <p *ngIf="item3.time_of_day">{{item3.time_of_day}}</p>
            <p *ngIf="item3.trade_species">{{item3.trade_species}}</p>
            <p>Trigger: {{item3.trigger.name}} </p>
            <p *ngIf="item3.turn_upside_down">{{item3.turn_upside_down}}</p>
          </div>
        <div>⬇️</div>
        <p>{{evo3.species.name}}</p>
        </div>
      </div>
    
    </div>
</div>


