@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
  font-family: 'Pixelify Sans', sans-serif;
}

.pokemon-container {
  margin: 1%;
  height: auto;
  width: auto;
  cursor: pointer;
  text-align: center;
  background-color: rgb(221, 221, 221);
  box-shadow: 0 0 10px rgb(101, 101, 101);
  flex-basis: 26%;
  border-radius: 180px;
  background-image: linear-gradient(to bottom, #d86d6d, #d86d6d, #d86d6d, #d86d6d, #d86d6d,#d86d6d,#ffff, #ffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

.pokemon-list-container {
  margin-left: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
h2{
  text-align: center;
}

