
<div [ngClass]="{'modo-claro': !modoOscuro, 'modo-oscuro': modoOscuro}"><hr>
<br>
<!--<button (click)="cambiarIdioma('es')">Español</button>
<button (click)="cambiarIdioma('en')">English</button>-->

  <button class="oscuro" (click)="cambiarModo()"><img class="sizeBombilla" src="/assets/images/bombilla.png"></button>

<div class="grid-container">
  <div [attr.type]="infoPokemon.types[0]" class="pokemon-container">
    <br>
    <div >
      <div class="left-content">
        <p>Nº {{infoPokemon.id.toString().padStart(3, '0')}} &nbsp;  {{infoPokemon.name | titlecase}}</p> 
        <div class="center-content" *ngIf="infoPokemon.types.length > 0">
          <button *ngFor="let type of infoPokemon.types" [attr.type]="type">{{ type }}</button>
          <br><br>
          <div *ngIf="infoPokemon.types.length > 0">
            <img class="pokemon-image" *ngFor="let type of infoPokemon.types, let i = index" [src]="getImagePath(infoPokemon.types[i])" alt="">
          </div>
        </div>  
      </div>
      <br>
      <div class="border">
        <img class="sizeImage" [src]="shinyMode ? infoPokemon.shiny : infoPokemon.image" alt="">
        <br>
      </div>
      <br>
      <button class="shiny" (click)="toggleShiny()">Shiny</button>
      <p class="left-content">Height: {{infoPokemon.height / 10}} mts</p>
      <p class="left-content">Weight: {{infoPokemon.weight / 10}} Kg</p>
      <div>
        <br><br><br>
        <p [innerHTML]="formatDescription(descriptionPokemon.description.toString())"></p>
      </div>
    </div>
  </div>
  <div class="stats">
    <p>HABILITIES:</p>
    <br>
    <div class="bar-container" *ngFor="let stats of infoPokemon.baseStats; let i = index;">
      <p>{{ infoPokemon.nameStats[i] }}: {{ stats }}</p>
      <div class="bar" [ngStyle]="{'width': (stats / 255 * 100) + '%'}"></div>
      <br>
    </div>
  </div>
  
  <div class="types">
    
    <div class="filter" *ngIf="infoPokemon.types.length > 0"> <p> TYPES TABLE </p> 
    </div>
    <div class="filter">
      <p>Very weak against: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.x4"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Weak against: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.doubleDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Strong against: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.halfDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Very Strong against: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.quarterDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Immune contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.noDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    
  </div>

</div>
</div>

<div>
  <app-evolution-chain [urlEvolution]="descriptionPokemon.urlEvolutionChain.toString()"></app-evolution-chain>
</div>

<div>
  <app-moves [id]="infoPokemon.id"></app-moves>
</div>
