@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.pokemon-list-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-basis: 25%;
}
.left-content{
  text-align: left;
  margin-left: 8%;
}
.right-content{
  text-align: right;
  margin-right: 8%;
}


.pokemon-container {
  margin: 10px;
  text-align: center;
  border-color: (221, 221, 221);
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgb(101, 101, 101);
  width: 30%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.sizeImage {
  width: 250px;
  height: 250px;
}

* {
  font-family: 'Pixelify Sans', sans-serif;
}
.border{
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 12px;
}

.shiny{
  background-image: linear-gradient(90deg, purple,blue,red,yellow);
  color: white;
}

/* DISEÑO INFO E IMG BASIC DEL POKEMON */



/* FIN DISEÑO INFO E IMG BASIC DEL POKEMON */

/* DISEÑO Y COLORES DE LOS TIPOS */

button {
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 1%;
}

button[type="Steel"] {
  background-color: #B8B8D0; /* Acero */
}

button[type="Water"] {
  background-color: #6890F0; /* Agua */
}

button[type="Bug"] {
  background-color: #A8B820; /* Bicho */
}

button[type="Dragon"] {
  background-color: #7038F8; /* Dragón */
  color: white;
}

button[type="Electric"] {
  background-color: #F8D030; /* Eléctrico */
}

button[type="Ghost"] {
  background-color: #705898; /* Fantasma */
}

button[type="Fire"] {
  background-color: #F08030; /* Fuego */
}

button[type="Ice"] {
  background-color: #98D8D8; /* Hielo */
}

button[type="Normal"] {
  background-color: #A8A878; /* Normal */
}

button[type="Grass"] {
  background-color: #78C850; /* Planta */
}

button[type="Psychic"] {
  background-color: #F85888; /* Psíquico */
}

button[type="Rock"] {
  background-color: #B8A038; /* Roca */
}

button[type="Ground"] {
  background-color: #E0C068; /* Tierra */
}

button[type="Fighting"] {
  background-color: #C03028; /* Lucha */
}

button[type="Fairy"] {
  background-color: #EE99AC; /* Hada */
}

button[type="Poison"] {
  background-color: #A040A0; /* Veneno */
}

button[type="Flying"] {
  background-color: #A890F0; /* Volador */
}

button[type="Dark"] {
  background-color: #333333; /* siniestro */
  color: white; 
}
/* Color fondo segun tipo*/

div[type="Steel"] {
  background-color: #B8B8D0; /* Acero */
}

div[type="Water"] {
  background-color: #6890F0; /* Agua */
}

div[type="Bug"] {
  background-color: #A8B820; /* Bicho */
}

div[type="Dragon"] {
  background-color: #7038F8; /* Dragón */
  color: white;
}

div[type="Electric"] {
  background-color: #F8D030; /* Eléctrico */
}

div[type="Ghost"] {
  background-color: #705898; /* Fantasma */
}

div[type="Fire"] {
  background-color: #F08030; /* Fuego */
}

div[type="Ice"] {
  background-color: #98D8D8; /* Hielo */
}

div[type="Normal"] {
  background-color: #A8A878; /* Normal */
}

div[type="Grass"] {
  background-color: #78C850; /* Planta */
}

div[type="Psychic"] {
  background-color: #F85888; /* Psíquico */
}

div[type="Rock"] {
  background-color: #B8A038; /* Roca */
}

div[type="Ground"] {
  background-color: #E0C068; /* Tierra */
}

div[type="Fighting"] {
  background-color: #C03028; /* Lucha */
}

div[type="Fairy"] {
  background-color: #EE99AC; /* Hada */
}

div[type="Poison"] {
  background-color: #A040A0; /* Veneno */
}

div[type="Flying"] {
  background-color: #A890F0; /* Volador */
}

div[type="Dark"] {
  background-color: #333333; /* siniestro */
  color: white; 
}
/*Imagen*/
img[type="Dark"]{
  src: url(/assets/images/types/dark.png);
}

/* HASTA AQUI DISEÑO DE TIPOS */