<hr>
<br>
<div class="grid-container">
  <div [attr.type]="infoPokemon.types[0]" class="pokemon-container">
    <br>
    <div >
      <div class="left-content">
        <p>Nº {{infoPokemon.id.toString().padStart(3, '0')}} &nbsp;  {{infoPokemon.name | titlecase}}</p> 
        <div class="center-content" *ngIf="infoPokemon.types.length > 0">
          <button *ngFor="let type of infoPokemon.types" [attr.type]="type">{{ type }}</button>
          <br><br>
          <div *ngIf="infoPokemon.types.length > 0">
            <img class="pokemon-image" *ngFor="let type of infoPokemon.types, let i = index" [src]="getImagePath(infoPokemon.types[i])" alt="">
          </div>
        </div>  
      </div>
      <br>
      <div class="border">
        <img class="sizeImage" [src]="shinyMode ? infoPokemon.shiny : infoPokemon.image" alt="">
        <br>
      </div>
      <br>
      <button class="shiny" (click)="toggleShiny()">Shiny</button>
      <p class="left-content">Height: {{infoPokemon.height / 10}} meters</p>
      <p class="left-content">Weight: {{infoPokemon.weight}} Kg</p>
      <div>
        <p [innerHTML]="formatDescription(descriptionPokemon.description.toString())"></p>
        <p>{{descriptionPokemon.urlEvolutionChain}}</p>
      </div>
    </div>
  </div>
  <div class="stats">
    <p class="marginleft">HABILITIES: <br></p>
    <div class="left-content" *ngFor="let stats of infoPokemon.baseStats; let i = index;">
      <p >{{ infoPokemon.nameStats[i] }}: {{ stats }}</p>
    </div>
  </div>
  <div class="types">
    
    <div class="filter">
      <p>Muy Debil contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.x4"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Debil contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.doubleDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Fuerte contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.halfDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Muy Fuerte contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.quarterDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    <div class="filter">
      <p>Inmune contra: </p>
      <button class="marginleft" *ngFor="let item of tableDamagesFull.noDamageFrom"  [attr.type]="item" >{{item}}</button>
    </div>
    
  </div>
  <div>
    <app-evolution-chain [urlEvolution]="descriptionPokemon.urlEvolutionChain.toString()"></app-evolution-chain>
  </div>

</div>

