@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
hr{
  background-color: #B8A038;
}
.row {
  flex-basis: 25%;
}
.left-content{
  text-align: left;
  margin-left: 8%;
}
.right-content{
  text-align: right;
  margin-right: 8%;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.pokemon-container {
  margin-left: 10%;
  border-color: (221, 221, 221);
  text-align: center;
  height: auto;
  border: 10px solid rgb(243, 243, 88);
  background-color: rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: 0 0 20px rgb(101, 101, 101);
  width: 60%;
  grid-row: 1/3;
  font-family: 'Pixelify Sans', sans-serif;
}

.sizeImage {
  width: 40%;
  height: 80%;
  
}
.stats{
  border: 3px solid orangered;
  font-family: 'Oswald', sans-serif;
}
.types{
  border: 3px solid green;
  font-family: 'Oswald', sans-serif;
  
}
.marginleft{
  margin-left: 4%;
}
.border{
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 12px;
  background-image: url(/assets/images/fondo/fondoCesped.png);
}

.shiny{
  background-image: linear-gradient(90deg, purple,blue,red,yellow);
  color: white;
}

/* DISEÑO INFO E IMG BASIC DEL POKEMON */



/* FIN DISEÑO INFO E IMG BASIC DEL POKEMON */

/* DISEÑO Y COLORES DE LOS TIPOS */

button {
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 1%;
}

button[type="Steel"] {
  background-color: #B8B8D0; /* Acero */
}

button[type="Water"] {
  background-color: #6890F0; /* Agua */
}

button[type="Bug"] {
  background-color: #A8B820; /* Bicho */
}

button[type="Dragon"] {
  background-color: #7038F8; /* Dragón */
  color: white;
}

button[type="Electric"] {
  background-color: #F8D030; /* Eléctrico */
}

button[type="Ghost"] {
  background-color: #705898; /* Fantasma */
}

button[type="Fire"] {
  background-color: #F08030; /* Fuego */
}

button[type="Ice"] {
  background-color: #98D8D8; /* Hielo */
}

button[type="Normal"] {
  background-color: #A8A878; /* Normal */
}

button[type="Grass"] {
  background-color: #78C850; /* Planta */
}

button[type="Psychic"] {
  background-color: #F85888; /* Psíquico */
}

button[type="Rock"] {
  background-color: #B8A038; /* Roca */
}

button[type="Ground"] {
  background-color: #E0C068; /* Tierra */
}

button[type="Fighting"] {
  background-color: #C03028; /* Lucha */
}

button[type="Fairy"] {
  background-color: #EE99AC; /* Hada */
}

button[type="Poison"] {
  background-color: #A040A0; /* Veneno */
}

button[type="Flying"] {
  background-color: #A890F0; /* Volador */
}

button[type="Dark"] {
  background-color: #333333; /* siniestro */
  color: white; 
}
/* Color fondo segun tipo*/

div[type="Steel"] {
  background-color: #B8B8D0; /* Acero */
}

div[type="Water"] {
  background-color: #6890F0; /* Agua */
}

div[type="Bug"] {
  background-color: #A8B820; /* Bicho */
}

div[type="Dragon"] {
  background-color: #7038F8; /* Dragón */
  color: white;
}

div[type="Electric"] {
  background-color: #F8D030; /* Eléctrico */
}

div[type="Ghost"] {
  background-color: #705898; /* Fantasma */
}

div[type="Fire"] {
  background-color: #F08030; /* Fuego */
}

div[type="Ice"] {
  background-color: #98D8D8; /* Hielo */
}

div[type="Normal"] {
  background-color: #A8A878; /* Normal */
}

div[type="Grass"] {
  background-color: #78C850; /* Planta */
}

div[type="Psychic"] {
  background-color: #F85888; /* Psíquico */
}

div[type="Rock"] {
  background-color: #B8A038; /* Roca */
}

div[type="Ground"] {
  background-color: #E0C068; /* Tierra */
}

div[type="Fighting"] {
  background-color: #C03028; /* Lucha */
}

div[type="Fairy"] {
  background-color: #EE99AC; /* Hada */
}

div[type="Poison"] {
  background-color: #A040A0; /* Veneno */
}

div[type="Flying"] {
  background-color: #A890F0; /* Volador */
}

div[type="Dark"] {
  background-color: #333333; /* siniestro */
  color: white; 
}
/*Imagen*/
img[type="Dark"]{
  src: url(/assets/images/types/dark.png);
}

/* HASTA AQUI DISEÑO DE TIPOS */