@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
hr{
  background-color: #B8A038;
}

.sizeBombilla{
  width: 30px;
}

.oscuro{
  background-color: rgb(255, 255, 255);
  border-radius: 160px;
  border: solid 0px;
}

.row {
  flex-basis: 25%;
}
.left-content{
  text-align: left;
  margin-left: 8%;
}
.right-content{
  text-align: right;
  margin-right: 8%;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 12px;
  padding: 10px;
  
}

.modo-claro{
  background-color: white;
  color: rgb(0, 0, 0);
}
.modo-oscuro{
  background-color: #605f5f;
  color: rgb(255, 255, 255);
}

.pokemon-container {
  margin-left: 10%;
  border-color: (221, 221, 221);
  text-align: center;
  height: auto;
  border: 10px solid rgb(243, 243, 88);
  background-color: rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: 0 0 20px rgb(101, 101, 101);
  width: 60%;
  grid-row: 1/3;
  font-family: 'Pixelify Sans', sans-serif;
}

.sizeImage {
  width: 40%;
  height: 80%;
  
}
.stats{
  font-family: 'Oswald', sans-serif;
}
.types{
  font-family: 'Oswald', sans-serif;
  border: 3px solid rgba(110, 110, 241, 0.355);
  border-radius: 14px;
}
.marginleft{
  margin-left: 4%;
  margin-bottom: 2%;
}
.border{
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 12px;
  background-image: linear-gradient(0deg, rgb(255, 255, 255)49%,rgb(1,1,1)2%, rgb(247, 68, 68)60%);
}

.shiny{
  background-image: linear-gradient(90deg, purple,blue,red,yellow);
  color: white;
}

/* DISEÑO INFO E IMG BASIC DEL POKEMON */



/* FIN DISEÑO INFO E IMG BASIC DEL POKEMON */

/*BARRAS STATS*/
.stats {
  display: flex;
  flex-direction: column;
}

.bar-container {
  position: relative;
  margin-bottom: 2%;
}

.bar {
  height: 20%; 
  width: 100%; 
  background-color: rgb(19, 130, 34); 
}

p {
  margin: 0;
}






/* DISEÑO Y COLORES DE LOS TIPOS */

button {
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 1%;
}

button[type="Steel"] {
  background-color: #B8B8D0; /* Acero */
}

button[type="Water"] {
  background-color: #6890F0; /* Agua */
}

button[type="Bug"] {
  background-color: #A8B820; /* Bicho */
}

button[type="Dragon"] {
  background-color: #7038F8; /* Dragón */
  color: white;
}

button[type="Electric"] {
  background-color: #F8D030; /* Eléctrico */
}

button[type="Ghost"] {
  background-color: #705898; /* Fantasma */
}

button[type="Fire"] {
  background-color: #F08030; /* Fuego */
}

button[type="Ice"] {
  background-color: #98D8D8; /* Hielo */
}

button[type="Normal"] {
  background-color: #A8A878; /* Normal */
}

button[type="Grass"] {
  background-color: rgb(66, 202, 66);/* Planta */
}

button[type="Psychic"] {
  background-color: #F85888; /* Psíquico */
}

button[type="Rock"] {
  background-color: #B8A038; /* Roca */
}

button[type="Ground"] {
  background-color: #E0C068; /* Tierra */
}

button[type="Fighting"] {
  background-color: #C03028; /* Lucha */
}

button[type="Fairy"] {
  background-color: #EE99AC; /* Hada */
}

button[type="Poison"] {
  background-color: #A040A0; /* Veneno */
}

button[type="Flying"] {
  background-color: #A890F0; /* Volador */
}

button[type="Dark"] {
  background-color: #333333; /* siniestro */
  color: white; 
}
/* Color fondo segun tipo*/

div[type="Steel"] {
  background-image: linear-gradient(180deg, rgb(133, 134, 133)40%, rgb(255, 255, 255)80%);
}

div[type="Water"] {
  background-image: linear-gradient(180deg, rgb(55, 105, 206)40%, rgb(203, 220, 255)80%);
}

div[type="Bug"] {
  background-image: linear-gradient(180deg, (#A8B820)40%, rgb(223, 218, 139)80%); 
  /* Bicho */
}

div[type="Dragon"] {
  background-image: linear-gradient(180deg, rgb(124, 39, 236)40%, rgb(224, 206, 255)80%); 
  color: white;
}

div[type="Electric"] {
  background-image: linear-gradient(180deg, #F8D030 40%, rgb(242, 255, 127)80%); 
}

div[type="Ghost"] {
  background-image: linear-gradient(180deg, #705898 40%, rgb(195, 126, 213)80%); 
}

div[type="Fire"] {
  background-image: linear-gradient(180deg, #F08030 40%, rgb(213, 184, 126)80%); 
}

div[type="Ice"] {
  background-image: linear-gradient(180deg, #32d5d5 40%, rgb(162, 202, 208)80%); 
}

div[type="Normal"] {
  background-image: linear-gradient(180deg, #7e7e52 40%, rgb(208, 208, 162)80%); 
}

div[type="Grass"] {
  background-image: linear-gradient(180deg, rgb(58, 206, 55)40%, rgb(164, 246, 157)80%);
}

div[type="Psychic"] {
  background-image: linear-gradient(180deg,#F85888 40%, rgb(246, 157, 224)80%); 
}

div[type="Rock"] {
  background-image: linear-gradient(180deg,#B8A038 40%, rgb(246, 246, 157)80%); 
}

div[type="Ground"] {
  background-image: linear-gradient(180deg,#E0C068 40%, rgb(246, 246, 157)80%); 
}

div[type="Fighting"] {
  background-image: linear-gradient(180deg,#C03028 40%, rgb(246, 157, 157)80%); 
}

div[type="Fairy"] {
  background-image: linear-gradient(180deg,#EE99AC 40%, rgb(255, 211, 211)80%); 
}

div[type="Poison"] {
  background-image: linear-gradient(180deg,#A040A0 40%, rgb(247, 154, 240)80%); 
}

div[type="Flying"] {
  background-image: linear-gradient(180deg,#A890F0 40%, rgb(216, 205, 244)80%); 

}

div[type="Dark"] {
  background-image: linear-gradient(180deg,#333333 40%, rgb(106, 106, 106)80%); 
  color: white; 
}


/* HASTA AQUI DISEÑO DE TIPOS */

.filter {
  margin: 2%;
  text-align: center;
  border: 3px solid rgba(110, 110, 241, 0.119);
}